body, html {
  height: 100%;
  margin: 0;
}

#map {
  width: 66.6%;
  height: 100%;
  float: left;
}

.panel {
  width: 33.3%;
  height: 50%;
  float: left;
  overflow-y: auto;
}

.labels-container {
  display: flex;
  justify-content: space-between;
}
<style>
  /* Other styles ... */

  /* Adjust the heatmapContainer style */
  #heatmapContainer {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
</style>
